.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.results {
  font-size: 28px;
}
.calculator {
  float: left;
  width: 50%;
}
.history {
  float: right;
  width: 50%;
}
.div-results {
  width: 300px;
  text-align: center;
  margin: 20px;
}
.operand-buttons {

}
.input-calculator {
  width: 300px;
  padding: 6px;
  border: 1px solid;
  margin: 20px 0;
  text-align: right;
}
.input-calculator span {
  font-size: 22px;
}
.wrapper {
  width: 700px;
  position: relative;
  border: 1px solid  transparent;
  padding: 5px;
}
.wrapper:hover .edit-view {
  display: block;
}
.wrapper:hover {
  border: 1px solid  #D5D5D5;
  cursor: pointer;
}
input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
}
.edit-view {
  position: absolute;
  display: none;
  top: -30px;
  width: 100%;  
}
.move-control {
  float: right;
  background: #FFF;
}
.edit-control {
  background: #FFF;
  position: relative;
}
.edit-control , .move-control, .save-control {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 2px;
}
.edit-control .xx, .move-control div, .save-control div {
  display: inline-block;
  border: 1px solid;
  padding: 3px 5px;
  margin: 2px ;
  border-radius: 2px;
}
.edit-input input, textarea {
  width: 100%;
}
.disabled {
  display: none!important;
}
.active {
  display: block!important;
}
.active:hover .edit-view {
  display: none!important;
}
.save-control {
  background: #FFF;
}
.new:hover .new-element {
  display: block!important;
}
.new-element {
  position: absolute;
  bottom: 30px;
  left: -3px;
  z-index: 1000;
  border: 0;
  display: none;
  background: #FFF;
  border: 1px solid;
  padding: 3px 5px;
  margin: 2px ;
  border-radius: 2px;
}
.new-element div {
  border: 1px solid;
  padding: 3px 5px;
  margin: 2px ;
  border-radius: 2px;
}
.new-element div {
  background: #FFF;
}
textarea {
  white-space: pre-wrap
}